.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.4rem;
  height: 100%;
  padding: 0 1.4rem;
  background: #282828;
}

.links {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}

.links > * {
  text-align: center;
}

@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 1rem;
    height: auto;
  }

  .links {
    grid-auto-flow: row;
    grid-auto-columns: auto;
    font-size: 0.95rem;
  }

  .links > * {
    text-align: start;
  }
}
